# Copy to .env and replace with real values.
# Do not commit .env to git.

# Common
DBT_BQ_LOCATION=EU
BQ_RAW_DATASET=raw
GCS_BUCKET=gs://your-unique-wolt-assignment-bucket
GCS_RAW_PREFIX=wolt_snack_store/raw

# Development target
DBT_BQ_DEV_PROJECT=your-dev-gcp-project-id
DBT_BQ_DEV_DATASET=analytics_dev
DBT_BQ_DEV_KEYFILE=${PWD}/credentials/dev-service-account.json

# Production target
DBT_BQ_PROD_PROJECT=your-prod-gcp-project-id
DBT_BQ_PROD_DATASET=analytics_prod
DBT_BQ_PROD_KEYFILE=${PWD}/credentials/prod-service-account.json
